{
  "SolutionName": "",
  "ExecutablePublishProjects": [
    {
      "FolderName": "",
      "ProjectName": ""
    },
    {
      "FolderName": "",
      "ProjectName": ""
    }
  ],
  "NugetPackageProjects": [
    {
      "FolderName": "",
      "ProjectName": ""
    }
  ],
  "BuildConfiguration": "Release",
  "Framework": "net8.0-windows",
  "Runtime": "win-x64",
  "PublishDir": "../Publish"
}